{% extends "base.html" %}

{% block site_meta %}
{{ super() }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "LearningResource",
    "@id": "https://elixir-europe-training.github.io/ELIXIR-TrP-TeSS/",
    "http://purl.org/dc/terms/conformsTo": {
        "@type": "CreativeWork",
        "@id": "https://bioschemas.org/profiles/TrainingMaterial/1.0-RELEASE"
    },
    "description": "TeSS, how can I help you? This is our interactive hands-on course about efficient use of the ELIXIR TeSS platform.",
    "keywords": "FAIR, OPEN, Bioinformatics, Teaching, TeSS",
    "name": "TeSS, how can I help you?",
    "license": "https://creativecommons.org/licenses/by/4.0/",
    "educationalLevel": "beginner",
    "competencyRequired": "none",
    "teaches": ["search events and material in TeSS via direct and faceted search", "add manually and automatically events and material to TeSS", "extract events and material from TeSS by using TeSS widgets"],
    "audience": "training providers",
    "inLanguage": "en-US",
    "learningResourceType": ["tutorial"],
    "author":  [
    {
    "@type": "Person",
    "name": "Bruna Piereck"},
    { 
    "@type": "Person",
    "name": "Olivier Sand"},
    { 
    "@type": "Person",
    "name": "Alexander Botzki"
    }],
    "contributor":  [
    {
    "@type": "Person",
    "name": "Yasmine Maes"},
    { 
    "@type": "Person",
    "name": "Finn Bacall"},
    { 
    "@type": "Person",
    "name": "Munazah Andrabi"
    }]
  }
</script>
{% endblock %}
